@font-face {
  font-family: "ACaslonPro-Semibold";
  font-display: swap;
  src: url("../fonts/ACaslonPro-Semibold.woff") format("woff"), url("../fonts/ACaslonPro-Semibold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ACaslonPro-SemiboldItalic";
  font-display: swap;
  src: url("../fonts/ACaslonPro-SemiboldItalic.woff") format("woff"), url("../fonts/ACaslonPro-SemiboldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

body.lock {
  overflow: hidden;
}

.conteiner {
  max-width: 100%;
}

.header {
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.darkOpacity {
  width: 100%;
  height: 100vh;
  background-color: #4d5b6e;
}

.darkOpacity_o {
  height: 61vh;
  background-color: #4d5b6e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.logo_img {
  display: flex;
}

.logo_img_im {
  max-width: 34px;
  max-height: 34px;
  margin-right: 24px;
}

.logo_img_f {
  font-size: 25px;
  color: #e5e1de;
  font-family: Arial, Helvetica, sans-serif;
}

.logo_t {
  font-style: italic;
  font-size: 18px;
  color: #898d95;
}

.logo_login {
  display: flex;
}

.logo_b {
  margin-left: 22px;
}

.logo_b_login {
  padding: 5px 10px 5px 10px;
  border: 1px solid #3d4b60;
  border-radius: 10px;
  background-color: #3d4b60;
  text-decoration: none;
  text-transform: uppercase;
  color: #c7ced9;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 14px;
}

.logo_b_login:hover {
  color: #ffffff;
  background-color: #101113;
  border: 1px solid #101113;
}

/*MEDIA*/

.banner {
  width: 100%;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tex {
  flex-basis: 50%;
}

.so {
  width: 256.333px;
  height: 248.666px;
}

.tex_t {
  color: #c5d2e5;
  font-family: Roboto;
  font-size: 21px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 35px;
  text-decoration: none;
}

.tex_t_content_1 {
  transform: translate(-40%, 0%);
  transition: all 0.9s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.tex_t_content_1._anim_active {
  visibility: visible;
  opacity: 1;
  transform: translate(0px, 0%);
}

.tex_t_content_2 {
  transform: translate(40%, 0%);
  transition: all 1.2s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.tex_t_content_2._dont_scroll {
  transform: translate(-40%, 0%);
}

.tex_t_content_2._anim_active {
  visibility: visible;
  opacity: 1;
  transform: translate(0px, 0%);
}

.tex_t_content_3 {
  transform: translate(-40%, 0%);
  transition: all 1.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.tex_t_content_3._anim_active {
  visibility: visible;
  opacity: 1;
  transform: translate(0px, 0%);
}

.tex_t_link {
  text-decoration: none;
  color: #bbbbbb;
}

.tex_t_link:hover {
  color: #ffffff;
  transition: all 2s ease 0s;
}

.tex_l {
  text-decoration: none;
  color: #ffffff;
  padding: 13px 28px 13px 28px;
  background-color: #67bf95;
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  transform: scale(0);
}

.tex_l:hover {
  text-decoration: none;
  background-color: #0d2a00;
  transition: all 0.8s ease 0s;
}

.tex_l:focus {
  text-decoration: none;
  background-color: #0d2c00;
  transition: all 0.8s ease 0s;
}

.tex_l._anim_active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: all 2s ease 0s;
}

.tex_h1 {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 60px;
  transform: translate(0, 120%);
  opacity: 0;
  visibility: hidden;
}

.tex_h1._anim_active {
  visibility: visible;
  opacity: 1;
  transition: all 0.8s ease 0s;
  transform: translate(0px, 0%);
}

.text_con_h {
  color: #37414e;
  font-family: "Roboto Slab";
  font-size: 27px;
}

.text_con {
  margin-right: 5%;
  margin-left: 5%;
}

.text_con_t {
  margin-top: 18px;
  color: #4b596c;
  font-family: Roboto;
  font-size: 20px;
  line-height: 18px;
}

.context {
  background: #f6f6f7;
  min-height: 34em;
}

.context_body {
  padding: 2%;
  display: flex;
  justify-content: center;
  max-height: 17em;
}

.context_body_content {
  display: flex;
}

.icons_con {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.icons_con .popup_content.image {
  width: 95%;
  max-height: 100%;
}

.correct_image {
  max-width: 400px;
  max-height: 373px;
}

.icon_one {
  width: 45px;
  height: 35px;
}

.icon_two {
  width: 18px;
  height: 38px;
  margin-top: 40px;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #101113;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.popup.open .popup_content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
  z-index: 2;
}

.popup_content_c {
  background: none;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

.popup_body {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
}

.login_tb {
  color: #ffffff;
  display: flex;
  font-size: 40px;
  text-transform: uppercase;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
}

.login_h {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #1f2a4e;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: all 0.8s ease 0s;
}

.login_n,
.login_p,
.login_t {
  display: flex;
  justify-content: center;
}

.login_h,
.login_n,
.login_p,
.login_fp,
.login_en,
.login_s {
  margin: 20px 0 20px 0;
}

.login .nickname {
  color: #1f2a4e;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 5px 5px 5px;
  border: 3px solid #4d5b6e;
  border-radius: 12px;
  transition: border 0.8s;
  text-decoration: none;
}

.login .nickname:hover {
  border: 3px solid #ee5648;
  text-decoration: none;
}

.login .nickname:focus {
  border: 3px solid #ee5648;
  text-decoration: none;
}

.login .password {
  color: #1f2a4e;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 5px 5px 5px;
  border: 3px solid #4d5b6e;
  border-radius: 12px;
  transition: border 0.8s;
  text-decoration: none;
}

.login .password:hover {
  border: 3px solid #ee5648;
  text-decoration: none;
}

.login .password:focus {
  border: 3px solid #ee5648;
  text-decoration: none;
}

.cor {
  width: 100%;
}

.popup_content {
  background-color: #ffffff;
  padding: 15px 25px 15px 25px;
  border-radius: 18px;
  width: 400px;
  position: relative;
  border: 3px solid #000000;
  transition: all 0.8s ease 0s;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  max-height: 50%;
}

.popup_content.image {
  padding: 0;
  width: 60%;
}

.r {
  right: 15px;
  top: 15px;
  transform: rotate(90deg);
}

.l {
  left: 15px;
  top: 15px;
}

.image_co {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100%;
}

.popup_close {
  text-decoration: none;
  color: #000000;
  position: absolute;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  transition: all 0.8s ease 0s;
}

.popup_close:hover {
  color: #ee5648;
  text-decoration: none;
}

.popup_close:focus {
  color: #ee5648;
  text-decoration: none;
}

.gohome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_en {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #67bf95;
  color: #ffffff;
  padding: 10px 18px 10px 18px;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.8s;
}

.login_en:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #205d08;
}

.login_en:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #205d08;
}

@media (max-widht: 767px), (max-height: 890px) {
  .context {
    background: #f6f6f7;
  }

  .context_body {
    padding: 1%;
    display: flex;
  }

  .context_body_content {
    padding: 1%;
    flex-direction: column;
    align-items: center;
  }

  .text_con_t {
    margin-top: 12px;
    color: #4b596c;
    font-family: Roboto;
    font-size: 15px;
    line-height: 15px;
  }

  .text_con_h {
    font-size: 20px;
  }

  .correct_image {
    padding-top: 10px;
    max-width: 350px;
    max-height: 323px;
  }

  .tex_h1 {
    padding-left: 1%;
    font-size: 40px;
  }

  .login {
    justify-content: center;
    flex-direction: row;
  }

  .r {
    top: 2%;
    right: 2%;
  }
}